{% extends 'base.html.twig' %}

{% block title %}Hello FRApiController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 2em; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <b>Hey buddy!</b>
    <p>this is an api, you can post your data to get respose</p>
</div>
{% endblock %}
